*.py[co]

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.tox

# tools
.idea
*.iml
*.ipr
*.iws

# Distutils
MANIFEST

# Other
.DS_Store
*.swp

# Sphinx
docs/_build/
